$prim: #1D1512;
$sec: #814B2B;
$success : #95654A;

$black: #0C0C0C;
$dark-brown: #481E14;
$brown: #9B3922;
$light-brown: #9B3922;
$bg-light:#ece3e3;
*{
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;

  .libre-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }

  // <uniquifier>: Use a unique and descriptive class name
  // <weight>: Use a value from 200 to 900

  .source-regular {
      font-family: "Source Sans 3", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
  }

  .source-fw-bold {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }

  .dropdown-toggle::after {
    display: none!important;
    margin-left:0!important;
    vertical-align: 0!important;
    content: none!important;
    border-top: 0!important;
    border-right: 0!important;
    border-bottom: 0!important;
    border-left: 0!important;
  }
}

// Extra Small devices (landscape phones, 375px and up)
@media (min-width: 375px) { 
  header{
    nav{
      .container{
        border-bottom: 1px solid rgba($color: $success, $alpha: .2);
      }
    }
  }
  main{
    // HOME PAGE
    section#jumbotron{
      padding-top: 2.6rem;
      height: calc(100svh - 96px);
      img{
        height: 55svh;
        width: 100%;
        object-fit: cover;
      }
    }

    // --PROD FEAT
    section#prod-feat{
      padding: 5rem 0;

      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 

 }