$prim: #1D1512;
$sec: #814B2B;
$success : #95654A;

$black: #0C0C0C;
$dark-brown: #481E14;
$brown: #9B3922;
$light-brown: #9B3922;
$bg-light:#ece3e3;
$trans: .6s ease;
*{
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;

  .lora{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .pop-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pop-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .pop-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .dropdown-toggle::after {
    display: none!important;
    margin-left:0!important;
    vertical-align: 0!important;
    content: none!important;
    border-top: 0!important;
    border-right: 0!important;
    border-bottom: 0!important;
    border-left: 0!important;
  }

  body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }


  .menu-icon {
    transform: scale(1.5);
  }

  .menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
  
    .menu-icon__cheeckbox {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
      cursor: pointer;
      z-index: 2;
      -webkit-touch-callout: none;
      position: absolute;
      opacity: 0;
    }
    div {
      margin: auto;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 22px;
      height: 12px;
    }
    span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--bar-bg, $bg-light);
      border-radius: 1px;
      transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
  
      &:first-of-type {
        top: 0;
      }
      &:last-of-type {
        bottom: 0;
      }
    }
    &.active,
    .menu-icon__cheeckbox:checked + div {
      span {
        &:first-of-type {
          transform: rotate(45deg);
          top: 5px;
        }
        &:last-of-type {
          transform: rotate(-45deg);
          bottom: 5px;
        }
      }
    }
  
    &.active:hover span:first-of-type,
    &.active:hover span:last-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
    &:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
      width: 22px;
    }
  
    &:hover {
      // no need hover effect on mobile.
      @media (min-width: 1024px) {
        span:first-of-type {
          width: 26px;
        }
  
        span:last-of-type {
          width: 12px;
        }
      }
    }
  }
}

// Extra Small devices (landscape phones, 375px and up)
@media (min-width: 375px) { 
  header{
    z-index: 10;
    nav{
      background-color: $prim;
    }
  }
  main{
    // HOME PAGE
    section#jumbotron{
      // padding-top: 2.6rem;
      // height: calc(110svh - 96px);
      height: 130svh;

      img.bg-jumb-img{
        height: 130svh;
        width: 100%;
        object-fit: cover;
        opacity: .05;
      }

      img.jumb-img{
        width: 100%;
        height: 330px;
        object-fit: cover;
        background-position: center;
      }
      .container{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -46%);
      }
    }

    section#welcome{
      padding: 5rem 0;
      img{
        width: 100%;
        height: 350px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    section#service_feature{
      padding: 4rem 0;
    }
    // --PROD FEAT
    section#prod-feat{
      padding: 5rem 0;
      img.cat-img{
        width: 100%;
        height: 165px;
        object-fit: cover;
      }

      img{
        width: 100%;
        height: 270px;
        object-fit: cover;
      }

      .row:nth-child(3){
        padding: 1rem 0 0 0;
      }

      .card.feat-card {
        position: relative;
        z-index: 1;
        transition:$trans;
        overflow: hidden;
    
        h5 {
          position: relative;
          z-index: 2; // Ensure the text is above the overlay
          transition:$trans;
          transform: translateY(120%);
          font-size: 1rem;
        }

        i.bi.bi-eye {
            transition:$trans;
            opacity: 0;
            z-index: 2;
            position: relative;
        }
    
        &::before {
            content: '';
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0;
            transition:$trans;
        }
      }
      
      .card.feat-card:hover {
          &::before {
              opacity: 1;
          }
      
          i.bi.bi-eye {
              opacity: 1;
          }

          h5{
            transform: translateY(0);
          }
      }
    
    }

    // SERVICES 
    section#services{
      padding: 5rem 0 5rem 0;
      span{
        img{
          width: auto;
          height: 70px;
        }
      }
      .card{
        img{
          width: auto;
          height: 50px;

        }
      }

      .row:nth-child(2){
        padding: 1rem 0 0 0;
      }
    }

    // BLOG
    section#blog{
      padding: 5rem 0;
      .card{
        img{
          height: 240px;
          width: 100%;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
    section#single-jumb {
      padding-top: 2.6rem;
      height: 50svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }

    section#single-blog {
      padding: 8rem 0 5rem 0;
 
      #single-header{
       .single-img{
          width: 100%;
          height: 300px;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
       }
      }

      #aside{
        #reLated_post{
          .single-img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        } 
      }
    }

    section#index-blog{
      padding: 5rem 0;

      .card{
        img{
          width: 100%;
          height: 280px;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }

    // NEWSLETTER 
    section#newsletter{
      height: 65svh;
      img.nwsletter{
        width: 100%;
        height: 65svh;
        object-fit: cover;
        background-position: center;
        opacity: .05;
      }

      .container{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }


    // PRODUCTS --------------------------------->
    section#jumb {
      padding-top: 2.6rem;
      // height: calc(50svh - 96px);
      height: 50svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }
   

    // SHOP PAGE
    section#our-products{
      padding: 5rem 0;
      .card{
        img.prod-img-feat{
          width: 100%;
          height: 200px;
          object-fit: cover;
          
        }
      }

      div#aside{
        div#featured_prod_aside{
          img{
            width: 100%;
            height: 160px;

          }
        }
      }
    }


    // ABOUT PAGE
    section#history{
      padding: 7rem 0;
    }
  }

   // FOOTER
   footer{
    // padding: 5rem 0 0 0;

    .container:nth-child(1){
      padding: 5rem 0 2rem 0;
    }

    .footer-logo{
      width: auto;
      height: 90px;
    }
  }

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  header{
    z-index: 10;
  }
  main{
    // HOME PAGE
    section#jumbotron{
      height: 250svh;

      img.bg-jumb-img{
        height: 250svh;
        width: 100%;
        object-fit: cover;
        opacity: .05;
      }

      img.jumb-img{
        width: 100%;
        height: 380px;
        object-fit: cover;
        background-position: center;
      }
      .container{
        left: 50%;
        top: 50%;
        transform: translate(-50%, -46%);
      }
    }

    section#service_feature{
      padding: 4rem 0;
    }

    section#welcome{
      padding: 5rem 0;
      img{
        height: 380px;
      }
    }

    
    // --PROD FEAT
    section#prod-feat{
      padding: 5rem 0;
      img.cat-img{
        height: 250px;
      }
      img{
        height: 260px;
      }

      .row:nth-child(3){
        padding: 1rem 0 0 0;
      }
    }

    // SERVICES 
    section#services{
      padding: 5rem 0 5rem 0;
      span{
        img{
          height: 70px;
        }
      }
      .card{
        img{
          height: 50px;
        }
      }

      .row:nth-child(2){
        padding: 1rem 0 0 0;
      }
    }

    // BLOG
    section#blog{
      padding: 5rem 0;
      .card{
        img{
          height: 300px;
        }
      }
    }

    section#single-jumb {
      padding-top: 2.6rem;
      height: 50svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }

    section#single-blog {
      padding: 8rem 0 5rem 0;
 
      #single-header{
       .single-img{
          width: 100%;
          height: 300px;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
       }
      }

      #aside{
        #reLated_post{
          .single-img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        } 
      }
    }

    section#index-blog{
      padding: 5rem 0;

      .card{
        img{
          height: 320px;
        }
      }
    }

    // NEWSLETTER 
    section#newsletter{
      height: 100svh;
      img.nwsletter{
        height: 100svh;
      }
    }


    // PRODUCTS --------------------------------->
    section#jumb {
      padding-top: 2.6rem;
      height: 90svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }
   

    // SHOP PAGE
    section#our-products{
      padding: 5rem 0;

      .card{
        img.prod-img-feat{
          height: 240px;
        }
      }

      div#aside{
        div#featured_prod_aside{
          img{
            height: 180px;
          }
        }
      }
    }


    // ABOUT PAGE
    section#history{
      padding: 7rem 0;
    }
  }

   // FOOTER
   footer{
    // padding: 5rem 0 0 0;

    .container:nth-child(1){
      padding: 5rem 0 2rem 0;
    }
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

  main{
    // HOME PAGE
    section#jumbotron{
      height: 60svh;

      img.bg-jumb-img{
        height: 60svh;
      }

      img.jumb-img{
        height: 380px;
      }
      .container{
        transform: translate(-50%, -41%);
      }
    }

    section#service_feature{
      padding: 4rem 0;
    }

    section#welcome{
      padding: 7rem 0;
      img{
        height: 380px;
      }
    }
 
    
    // --PROD FEAT
    section#prod-feat{
      padding: 7rem 0;
      img.cat-img{
        height: 300px;
      }
      img{
        height: 270px;
      }

      .row:nth-child(3){
        padding: 1rem 0 0 0;
      }

      .card.feat-card {
        h5 {
          font-size: 1.25rem;
        }
      }

      
    }

    // SERVICES 
    section#services{
      padding: 5rem 0 5rem 0;
      span{
        img{
          height: 70px;
        }
      }
      .card{
        img{
          height: 50px;
        }
      }

      .row:nth-child(2){
        padding: 1rem 0 0 0;
      }
    }

    // BLOG
    section#blog{
      padding: 7rem 0;
      .card{
        img{
          height: 250px;
        }
      }
    }

    section#single-jumb {
      padding-top: 2.6rem;
      height: 50svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }

    section#single-blog {
      padding: 8rem 0 5rem 0;
 
      #single-header{
       .single-img{
          width: 100%;
          height: 300px;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
       }
      }

      #aside{
        #reLated_post{
          .single-img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        } 
      }
    }

    section#index-blog{
      padding: 7rem 0;

      .card{
        img{
          height: 230px;
        }
      }
    }

    // NEWSLETTER 
    section#newsletter{
      height: 40svh;
      img.nwsletter{
        height: 40svh;
      }
    }


    // PRODUCTS --------------------------------->
    section#jumb {
      padding-top: 2.6rem;
      // height: calc(50svh - 96px);
      height: 30svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }
   

    // SHOP PAGE
    section#our-products{
      padding: 6rem 0;
      .card{
        img.prod-img-feat{
          height: 220px;
        }
      }

      div#aside{
        div#featured_prod_aside{
          img{
            height: 110px;
          }
        }
      }

    }


    // ABOUT PAGE
    section#history{
      padding: 7rem 0;
    }
  }

   // FOOTER
   footer{
    // padding: 5rem 0 0 0;

    .container:nth-child(1){
      padding: 6rem 0 2rem 0;
    }
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  header{
    nav{
      background-color: transparent;
    }
  }
  main{
    // HOME PAGE
    section#jumbotron{
      height: 85svh;

      img.bg-jumb-img{
        height: 85svh;
      }

      img.jumb-img{
        height: 380px;
      }
      .container{
        transform: translate(-50%, -41%);
      }
    }

    section#service_feature{
      padding: 2rem 0;
    }

    section#welcome{
      padding: 7rem 0;
      img{
        height: 380px;
      }
    }
 
    
    // --PROD FEAT
    section#prod-feat{
      padding: 7rem 0;
      img.cat-img{
        height: 220px;
      }
      img{
        height: 270px;
      }

      .row:nth-child(3){
        padding: 4rem 0 0 0;
      }

      .card.feat-card {
        h5 {
          font-size: 1.25rem;
        }
      }

      
    }

    // SERVICES 
    section#services{
      padding: 5rem 0 5rem 0;
      span{
        img{
          height: 70px;
        }
      }
      .card{
        img{
          height: 50px;
        }
      }

      .row:nth-child(2){
        padding: 1rem 0 0 0;
      }
    }

    // BLOG
    section#blog{
      padding: 6rem 0;
      .card{
        img{
          height: 290px;
        }
      }
    } 

    section#single-jumb {
      padding-top: 2.6rem;
      height: 50svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }

    section#single-blog {
      padding: 8rem 0 5rem 0;
 
      #single-header{
       .single-img{
          width: 100%;
          height: 300px;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
       }
      }

      #aside{
        #reLated_post{
          .single-img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        } 
      }
    }

    section#index-blog{
      padding: 7rem 0;

      .card{
        img{
          height: 300px;
        }
      }
    }

    // NEWSLETTER 
    section#newsletter{
      height: 35svh;
      img.nwsletter{
        height: 35svh;
      }
    }


    // PRODUCTS --------------------------------->
    section#jumb {
      padding-top: 2.6rem;
      // height: calc(50svh - 96px);
      height: 50svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }
   

    // SHOP PAGE
    section#our-products{
      padding: 7rem 0;
    }


    // ABOUT PAGE
    section#history{
      padding: 7rem 0;
    }
  }

   // FOOTER
   footer{
    // padding: 5rem 0 0 0;

    .container:nth-child(1){
      padding: 6rem 0 3rem 0;
    }

    .footer-logo{
      height: 70px;
    }
  }
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  main{
    // HOME PAGE
    section#jumbotron{
      height: 100svh;

      img.bg-jumb-img{
        height: 100svh;
      }

      img.jumb-img{
        height: 380px;
      }
      .container{
        transform: translate(-50%, -41%);
      }
    }

    section#service_feature{
      padding: 2rem 0;
    }

    section#welcome{
      padding: 7rem 0;
      img{
        height: 380px;
      }
    }
 
    
    // --PROD FEAT
    section#prod-feat{
      padding: 7rem 0;
      img.cat-img{
        height: 250px;
      }
      img{
        height: 220px;
      }

      .row:nth-child(3){
        padding: 4rem 0 0 0;
      }

      .card.feat-card {
        h5 {
          font-size: 1.25rem;
        }
      }

      
    }

    // SERVICES 
    section#services{
      padding: 5rem 0 5rem 0;
      span{
        img{
          height: 70px;
        }
      }
      .card{
        img{
          height: 50px;
        }
      }

      .row:nth-child(2){
        padding: 1rem 0 0 0;
      }
    }

    // BLOG
    section#blog{
      padding: 7rem 0;
      .card{
        img{
          height: 220px;
        }
      }
    } 

    section#single-jumb {
      padding-top: 2.6rem;
      height: 50svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }

    section#single-blog {
      padding: 8rem 0 5rem 0;
 
      #single-header{
       .single-img{
          width: 100%;
          height: 300px;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
       }
      }

      #aside{
        #reLated_post{
          .single-img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        } 
      }
    }

    section#index-blog{
      padding: 7rem 0;

      .card{
        img{
          height: 260px;
        }
      }
    }

    // NEWSLETTER 
    section#newsletter{
      height: 45svh;
      img.nwsletter{
        height: 45svh;
      }
    }


    // PRODUCTS --------------------------------->
    section#jumb {
      padding-top: 2.6rem;
      // height: calc(50svh - 96px);
      height: 50svh;
      position: relative;
      
      .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }

    // SHOP PAGE
    section#our-products{
      padding: 7rem 0;

      .card{
        img.prod-img-feat{
          height: 230px;
        }
      }

      div#aside{
        div#featured_prod_aside{
          img{
            height: 130px;
          }
        }
      }
    }

    // ABOUT PAGE
    section#history{
      padding: 7rem 0;
    }
  }

   // FOOTER
   footer{
    // padding: 5rem 0 0 0;

    .container:nth-child(1){
      padding: 6rem 0 3rem 0;
    }

    .footer-logo{
      height: 70px;
    }
  }
 }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 

  main{
    // HOME PAGE
    section#jumbotron{
      height: 100svh;

      img.bg-jumb-img{
        height: 100svh;
        opacity: .05;
      }

      img.jumb-img{
        height: 540px;
      }
      .container{
        transform: translate(-50%, -44%);
      }
    }

    // --PROD FEAT
    section#prod-feat{
      padding: 8rem 0;

      img.cat-img{
        height: 300px;
      }

      img{
        height: 300px;
      }

      .row:nth-child(3){
        padding: 6rem 0 0 0;
      }
    
    }

    // SERVICES 
    section#services{
      padding: 7rem 0 7rem 0;
      span{
        img{
          width: auto;
          height: 70px;
        }
      }
      .card{
        img{
          width: auto;
          height: 50px;

        }
      }

      .row:nth-child(2){
        padding: 1rem 0 0 0;
      }
    }

    // BLOG
    section#blog{
      padding: 8rem 0;
      .card{
        img{
          height: 260px;
        }
      }
    } 


    section#single-blog {
     padding: 13rem 0 8rem 0;

     #single-header{
      .single-img{
        height: 500px;
      }
     }



    }

    section#index-blog{
      padding: 8rem 0;

      .card{
        img{
          height: 300px;
        }
      }
    }

    // NEWSLETTER 
    section#newsletter{
      // padding: 8rem 0;
      height: 50svh;
      img.nwsletter{
        height: 50svh;
        
      }
    }


    // PRODUCTS --------------------------------->
    section#jumb {
      padding-top: 2.6rem;
      height: 50svh;
      
      .container{
        transform: translate(-50%, -10%);
      }
    }
   

    // SHOP PAGE
    section#our-products{
      padding: 7rem 0;
    }


    // ABOUT PAGE
    section#history{
      padding: 7rem 0;
    }
  }

   // FOOTER
   footer{
    .container:nth-child(1){
      padding: 8rem 0 4rem 0;
    }
  }
 }